html, body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-flow: column;
}
 
.tabs-content {
  height: 100%;
  overflow-y: scroll !important;
}

.container {
  margin-top: 30px;
  padding: 20px;
  background: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h5 {
  text-align: center;
  color: #333;
  font-weight: bold;
}

.input-field input {
  border: 2px solid #007bff;
  border-radius: 5px;
  padding: 10px;
  transition: all 0.3s ease;
}

.input-field input:focus {
  border-color: #0056b3;
  box-shadow: 0 0 8px rgba(0, 91, 187, 0.5);
}

.input-field label {
  font-size: 16px;
  font-weight: bold;
  color: #007bff;
}

button#search-btn {
  display: block;
  width: 100%;
  background: #007bff;
  color: white;
  font-size: 16px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

button#search-btn:hover {
  background: #0056b3;
}

.input-field-type {
  flex: 0 0 30%;
}

.input-field {
  flex: 0 0 68.5%;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.book-item {
  display: flex;
  justify-content: space-between; 
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  min-width: 100%;
}

.book-info {
  flex: 1;
  margin-right: 40px;
}

.book-title-text {
  font-size: 18px;
  font-weight: bold;
}

.book-authors,
.book-published,
.book-description {
  font-size: 14px;
  color: #555;
}

.book-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.book-thumbnail {
  max-width: 200px;
  border-radius: 5px;
}

#test-swipe-3 {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

#video {
  border: 2px solid #ccc;
  border-radius: 8px;
  width: 30%;
  height: auto;
  margin-bottom: 10px;
}

#camera-btn {
  background-color: #6200ea;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#camera-btn:hover {
  background-color: #3700b3;
}

#photo {
  width: 20%;
  height: auto;
  margin-top: 20px;
  border-radius: 8px;
  border: 2px solid #ccc;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#canvas {
  display: none;
}

#camera-status {
  margin-top: 15px;
  font-size: 18px;
  font-weight: bold;
  color: #6200ea;
}

h5 {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: bold;
  color: #333;
}
